# used by the library downloader
.cache
lib

*.o
*.so
*.dll
# a visual studio turd:
*.exp

# rakudo turd
.precomp

# vim turds
.*.swp
.*.swo
.*.swn
.*.swm
.*.swl
#anonymous vim turds
.swp
.swo
.swn
.swm
.swl
